<template>
  <span v-if="field.visible">
    <span
      ref="novabutton"
      class="nova-button"
      v-html="buttonText"
      @click="handleClick"
      :class="buttonClasses"
      :style="{'min-width': buttonWidth}"
      :title="field.title"
    ></span>
  </span>
</template>

<script>
export default {
  props: ["resource", "resourceName", "resourceId", "field"],
  data: () => ({
    buttonWidth: null,
    loading: false,
    success: false,
    error: false
  }),
  mounted() {
    this.$nextTick(function() {
      this.buttonWidth = this.$refs.novabutton.clientWidth + 2 + "px";
    });
  },
  methods: {
    handleClick() {
      switch (this.field.onClick) {
        case "manual-upload":
          Nova.$emit("nova-button.manual-upload", this.resourceId);
          break;
        case "single-excel-upload":
          Nova.$emit("nova-button.single-excel-upload", this.resourceId);
          break;
        default:
          console.error("invalid operation " + this.field.onClick);
      }
    },
    navigate() {
      if (this.field.type == "route") {
        this.$router.push(this.field.route);
      }

      if (this.field.type == "link") {
        window.open(this.field.link.href, this.field.link.target);
      }
    }
  },
  computed: {
    buttonText: function() {
      if (this.field.link && this.field.link.target == "_blank") {
        return this.field.text;
      }

      if (this.error && this.field.errorText) {
        return this.field.errorText;
      }

      if (this.success && this.field.successText) {
        return this.field.successText;
      }

      if (this.loading && this.field.loadingText) {
        return this.field.loadingText;
      }

      return this.field.text;
    },
    buttonClasses: function() {
      if (this.field.link && this.field.link.target == "_blank") {
        return this.field.classes;
      }
      if (this.error && this.field.errorClasses.length) {
        return this.field.errorClasses + " text-center nova-button-error";
      }

      if (this.success && this.field.successClasses.length) {
        return this.field.successClasses + " text-center nova-button-success";
      }

      if (this.loading && this.field.loadingClasses) {
        return this.field.loadingClasses + " text-center nova-button-loading";
      }

      return this.field.classes;
    }
  }
};
</script>

<style>
.nova-button {
  white-space: nowrap;
}
.nova-button-loading,
.nova-button-success,
.nova-button-error {
  pointer-events: none;
}
</style>